body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin: auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
  line-height: 1;
}

h2 {
  font-family: "Montserret", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserret", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 300px;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 50px;
}

.middle-container {
  margin: 100px 0px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #eaf6f6;
  border-width: 10px;
  width: 5%;
  clear: both;
}

p {
  line-height: 2;
}

.bottom-container {
  padding: 50px 0 10px;
  background-color: #66bfbf;
}

.profile {
  margin-bottom: 20px;
}

.profile-desc {
    width: 30%;
    margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contact-me {
  margin: 100px;
}

/* .web-sites {
  padding: 50px 0 20px 0px;
} */

.copy-rights {
  padding: 20px 0;
  font-size: 0.75rem;
  color: #eaf6f6;
}

.footer-link {
  color: #11999e;
  font-family: "Montserret", sans-serif;
  font-size: 22px;
  margin: 30px;
  text-decoration: none;
}

.footer-link:hover {
    color: #EAF6F6; 
}

/*BUTTON CSS FROM cssbuttoncreator.com*/
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserret", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

/* .reach-me {
  line-height: 2;
  margin-bottom: 30px;
}

.getintouch {
  line-height: 2;
}

.contactmsg {
  line-height: 2;
} */

.contactmsg {
  width: 30%;
  margin: 40px auto 60px;
}